.THIS.visibilityNO {
 display:none;
  
}
.THIS.visibilityNONE {
 display:none;
  
}
 
.THIS .slds-modal{
 background-color: rgba(0, 0, 0, 0.4); 
}
 
 .THIS .myLabel{
    display: inline-block;
    width: 140px;
    text-align: left;    
}
 
.THIS .slds-modal__header{
 padding-top: 30px;
 padding-bottom: 0px;
 border-bottom: none;
}